@{
    ViewBag.Title = "Home Page";
}
@model List<WebMVC.Models.DataModel>
<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td><a href="/chi-tiet-@item.Id">Chi tiết</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@*<div id="DemoPartialViews_Data"></div>*@
@*@Html.Action("DemoPartialViews", "Home", new { id=10 })*@

@Html.Partial("~/Views/Home/StaticPatialView.cshtml",new WebMVC.Models.DataModel { Id =10 , Name= "Demo StaticPatialView" })
<script>

    $(document).ready(function () {
        LoadPartialView();

    });


    function LoadPartialView() {
        var Url = 'http://localhost:56996/Home/DemoPartialViews';
        var input_data = {
            "id": 10
        };

        $.ajax({
            type: 'GET',
            url: Url,
            data: input_data,
            success: function (result) {
                $("#DemoPartialViews_Data").html("");
                $("#DemoPartialViews_Data").html(result);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }
</script>